= semantic_form_for(@cliente) do |f|
  = f.input :nome, :label => 'nome'
  = f.input :endereco, :label => 'endereco'
  = f.input :telefone, :label => 'telefone'
  = f.input :cpf, :label => 'cpf'
  = f.input :rg, :label => 'rg'
  = f.input :dtnascimento, :label => 'dtnascimento'
  = f.input :email, :label => 'email'
  = f.input :funcao, :label => 'funcao'
  = f.submit 'Salvar'
