= semantic_form_for(@contrato) do |f|
  = f.input :datainicial, :label => 'datainicial'
  = f.input :datafinal, :label => 'datafinal'
  = f.input :valorestimado, :label => 'valorestimado'
  = f.input :valorfinal, :label => 'valorfinal'
  = f.input :formapagamento, :label => 'formapagamento'
  = f.submit 'Salvar'
