= semantic_form_for(@reuniao) do |f|
  = f.input :local, :label => 'local'
  = f.input :data, :label => 'data'
  = f.input :tipo, :label => 'tipo'
  = f.input :hora, :label => 'hora'
  = f.submit 'Salvar'
